.Main{
    margin-top: 5%;
    margin-left: 35%;
    margin-right: 35%;
    padding: 0%;
    padding-left: 0%;
    padding-right: 0%;
    border: 2px, solid,  grey, ;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    align-items: left;
    width: 30%;
    
}
h1 {
    
    text-align: center;
}
.FirstName, .LastName, .Email, .Password{
    
    display: flex;
    flex-direction: column;
    margin: 7%;
    
}
input[type="text"], input[type="password"]{
    width: 100%;
    
}


button{
    margin: 7%;
    margin-top: 0%;
    width: 88%;

    padding: 1%;
    border-radius: 10px;
    border: none;
    background-color: #841617;
    color: white;
   
    
}

button:hover{
    background-color: #65000B;
    cursor: pointer;
}

h6{
    margin-left: 7%;
    margin-bottom: 0%;
    color: red;
    visibility: hidden;
}
.required{
    color: red;
}